/* Write your code here: */
/* group selector */
h1, h2 {
    color: blueviolet;
}

/* direct child selector */
.box > p {

    color: firebrick;
}
/* descendant selector */
.box li {
    color: blue;
}

/* chaining selectors */

li.done {
    color: seagreen
}

/* combining the combiners */

ul p.done{

    font-size: 0.5rem;
}
/* 
or 

ul>p.done{

    font-size: 0.5rem;
} */